html {
  overflow: hidden;
}

body {
  font-family: "Lucida Console", monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

.resizable {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.resizers {
  width: 99%;
  height: 99%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
  position: absolute;

  padding: 7px 7px 7px 7px;
}

input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
  width: 100%;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn {
  color: rgb(255, 64, 129);
  background-color: white;
  box-shadow:none;
}

button.turn:hover {
  background-color: #eaeaea;
}

.chat-wrapper {
  padding: 10px 10px 10px 10px;
  height: 35px;
  background: dodgerblue;
}

.chat-wrapper form {
  display: flex;
  height: 30px;
}

.chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}

#npc_events {
  width: 100%;
  height: 90%;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

#npc_events li {
  padding: 10px 10px 10px 10px;
  color: white;
}

#player_events {
  width: 100%;
  height: 90%;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

#player_events li {
  padding: 10px 10px 10px 10px;
  color: white;
}

/* CHAT RELATED STUFF */
.ui_element {
  font-family: "Lucida Console", monospace;
  color: dodgerblue;
}

.speech_wrapper {
  font-family: "Lucida Console", monospace;
  color: cyan;
}

.speech_verb {
  font-family: "Lucida Console", monospace;
  color: cyan;
  font-style: italic;
}

.speech_name {
  font-family: "Lucida Console", monospace;
  color: cyan;
  font-weight: bold;
}

.emote {
  font-family: "Lucida Console", monospace;
  color: dodgerblue;
  font-style: italic;
}

.emote_name {
  font-family: "Lucida Console", monospace;
  color: dodgerblue;
  font-weight: bold;
}

.warn_player {
  font-family: "Lucida Console", monospace;
  color: red;
  font-weight: bold;
  font-style: italic;
}